<div id="match-list">
  <div>
    <div id="filters">
      <mat-form-field>
        <input matInput (keyup)="applyFilter('N'+$event.target.value)" placeholder="Filter by Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" (keyup)="applyFilter('R'+$event.target.value)" placeholder="Filter by Range">
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <!--<ng-container matColumnDef="position">-->
      <!--<th mat-header-cell *matHeaderCellDef> No. </th>-->
      <!--<td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
      <!--</ng-container>-->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Match Name </th>
        <td mat-cell *matCellDef="let element" (click)="showInfo(element)"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> Match State </th>
        <td mat-cell *matCellDef="let element" (click)="showInfo(element)"> {{getMatchState(element.state)}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="access">
        <th mat-header-cell *matHeaderCellDef> Match Access </th>
        <td mat-cell *matCellDef="let element" (click)="showInfo(element)"> {{getMatchAccess(element.access)}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
