<div id="container">

  <p>
    "Shoot Them All" is a virtual laser game where you can play just using your smartphone.
    Gather some friends and create a match, in single or team mode.
  </p>

  <div id="armies">
    <img id="army-blue" src="../../../assets/images/army-blue.png">
    <img id="battle" src="../../../assets/images/battle3.png">
    <img id="army-red" src="../../../assets/images/army-red.png">
  </div>

  <p>
    Your phone will be your gun, radar and map.
    Gain points by hitting enemies and keep them dodging the shots, in this way you'll prove to be the best one.
  </p>


  <div id="device-functionalities">
      <img id="device-gun" src="../../../assets/images/device-gun.png">
      <img id="device-radar" src="../../../assets/images/device-radar.png">
      <img id="device-map" src="../../../assets/images/device-map.png">
  </div>

  <div id="play">
  <p>
    Ready, aim, fire!
  </p>

  <img id="shoot" src="../../../assets/images/shoot.png">
  </div>

</div>
