* {
  font-family: 'centauri', 'arial', sans-serif;
}


.main-container {

  position: relative;

  padding-top: 30vh;

  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;

  font-size: 40px;
}

.progress-container {
  width: 100%;

  padding-top: 3vh;

  display: flex;
  justify-content: center;
}

.progress-bar-container {
  position: relative;

  width: 80%;
  height: 30px;

  background: #555;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.progress-bar {
  position: absolute;

  width: 0;
  height: 100%;

  background: #06a533;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

}



@media screen and (max-width: 599px) {
  .title {
    font-size: 30px;
  }
}

