<div id="nav-container">
  <mat-toolbar>
    <!--<span class="fill-remaining-space"></span>-->
    <div id="item-row" fxShow="false" fxShow.gt-xs>
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/matchConfiguration">New Match</button>
      <button mat-button routerLink="/userProfile">Personal Info</button>
      <button mat-button (click)="logout()">Logout</button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxShow="true" fxHide.gt-xs>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu x-position="before" #menu="matMenu" class="nav-menu">
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/matchConfiguration">New Match</button>
    <button mat-button routerLink="/userProfile">Personal Info</button>
    <button mat-button (click)="logout()">Logout</button>
  </mat-menu>
</div>

