<!--<app-navbar></app-navbar>-->
<div>
  <mat-table  [dataSource]="dataSource">
  <caption>User's Leaderboard</caption>
    <!-- Position Column -->
    <!--<ng-container matColumnDef="position">-->
    <!--<th mat-header-cell *matHeaderCellDef> No. </th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
    <!--</ng-container>-->

    <ng-container matColumnDef="position">
      <mat-header-cell  *matHeaderCellDef >Position </mat-header-cell>
      <mat-cell  *matCellDef="let element">
        <span class="mobile-label single">Position</span>
        {{element.position}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell  *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell (click)="showUserInfo(element.username)" mat-cell *matCellDef="let element">
        <span class="mobile-label single">Username</span>
        {{element.username}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
      <mat-cell  *matCellDef="let element">
        <span class="mobile-label single">Score</span>
        {{element.score}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ranking">
      <mat-header-cell  *matHeaderCellDef> Ranking </mat-header-cell>
      <mat-cell  *matCellDef="let element">
        <span class="mobile-label single">Ranking</span>
        {{element.ranking}}
      </mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row   *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>
