<div class="container">

  <h1>Shoot them all</h1>

  <div class="form-container">
    <form class="registration-form" [formGroup]="registrationForm" (ngSubmit)="register()" novalidate>
      <mat-form-field class="registration-input">
        <input aria-label="Name" matInput type="text" placeholder="Name" formControlName="name">
        <mat-hint></mat-hint>
      </mat-form-field>
      <mat-form-field class="registration-input">
        <input aria-label="Surname" matInput type="text" placeholder="Surname" formControlName="surname">
        <mat-hint></mat-hint>
      </mat-form-field>
      <mat-form-field class="registration-input">
        <input aria-label="E-Mail" matInput type="email" placeholder="Email" formControlName="email">
        <mat-hint></mat-hint>
      </mat-form-field>
      <mat-form-field class="registration-input">
        <input aria-label="Username" matInput type="text" placeholder="Username" formControlName="username">
        <mat-hint></mat-hint>
      </mat-form-field>
      <mat-form-field class="registration-input">
        <input aria-label="Password" matInput placeholder="Password" formControlName="password" [type]="showPassword ? 'text' : 'password'" [errorStateMatcher]="matcher">
        <mat-icon matSuffix (click)="showPassword = !showPassword">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint></mat-hint>
        <mat-error *ngIf="password.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="registration-input">
        <input aria-label="Confirm Password" matInput placeholder="Confirm Password" formControlName="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" [errorStateMatcher]="matcher">
        <mat-icon matSuffix (click)="showConfirmPassword = !showConfirmPassword">{{showConfirmPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint></mat-hint>
        <mat-error *ngIf="confirmPassword.hasError('required')">
          Confirm password is required
        </mat-error>
      </mat-form-field>

      <button aria-label="Register" id="registration-button" type="submit" mat-flat-button color="primary">Register</button>
      <button  aria-label="Login" id="login-button" mat-flat-button routerLink="/login">Login</button>
    </form>
  </div>
</div>
