<div id="info-container">
  <div id="div-title">
    <h1 id="match-name">{{match.name}}</h1>
  </div>
  <div id="div-subtitle">
    <h3 id="team-label" *ngIf="teamVisible">Which side of the force will you choose?</h3>
    <h3 id="single-label" *ngIf="!teamVisible">Join the battle, the force will be with you</h3>
  </div>

  <div id="circle-container">
    <div *ngIf="teamVisible" id="div-yoda" class="circle-container-content">
      <h4 class="team-title">Team Jedi</h4>
      <div class="bottom-content">
        <img [style.border]="team.get === defaultTeam ? selectedBorderStyle : unselectedBorderStyle "
             (click)="switchTeam(teamType.TEAM1)"
             src="../../../assets/images/yoda.png" id="yoda">
      </div>
    </div>

    <div id="timer-container" class="circle-container-content">
      <div id="spinner-container">
        <mat-progress-spinner
          [color]="spinnerOption.color"
          [mode]="spinnerOption.mode"
          [value]="spinnerOption.value"
          [diameter]="spinnerSize"
          id="timer">
        </mat-progress-spinner>
      </div>

      <div class="bottom-content" id="timer-text">
        {{ remainingTime}}
        <!--00.00.00-->
      </div>
    </div>

    <div *ngIf="teamVisible" id="div-darth" class="circle-container-content">
      <h4 class="team-title">Team Sith</h4>
      <!--<div class="circleBase type1">-->
      <div class="bottom-content">
        <img [style.border]="team.get !== defaultTeam ? selectedBorderStyle : unselectedBorderStyle "
             (click)="switchTeam(teamType.TEAM2)"
             src="../../../assets/images/darth_vader.png" id="darth">
      </div>
      <!--</div>-->
    </div>
  </div>

  <h2 id="state-label">{{printState()}}</h2>

  <!--<select (change)="switchTeam()" id="team" *ngIf="teamVisible">-->
    <!--<option>Team 1</option>-->
    <!--<option>Team 2</option>-->
  <!--</select>-->
  <!--<div id="team-container" *ngIf="teamVisible">-->
    <!--<h2>Choose your side</h2>-->
    <!--<div id="button-team-container">-->

    <!--</div>-->
  <!--</div>-->
  <div id="join-container">
    <button mat-flat-button color="primary" id="join-button" (click)="switchPartecipation()" *ngIf="showJoin()">{{partecipationButtonText()}}</button>
  </div>
  <!--<button (click)="switchPartecipation()" *ngIf="showJoin()">{{partecipationButtonText()}}</button>-->
</div>
