#dialog-content{
  font-family: Orbitron, 'arial', sans-serif;
}
h1{
  font-family: Orbitron, 'arial', sans-serif;
}
*{
  text-align: center;
}
button{
  width: 100%;
  font-family: Orbitron, 'arial', sans-serif;

}
