<div id="map-earth-container">
  <!--<h1>Map of {{match.name}}</h1>-->

  <agm-map
    [latitude]="match.centralPoint.latitude"
    [longitude]="match.centralPoint.longitude"
    [styles]="styles"
    [draggable]="true"
  >
    <agm-marker *ngFor="let userPosition of userPositions"
                [latitude]="userPosition.position.latitude"
                [longitude]="userPosition.position.longitude">
      <div class="si-content-wrapper">
        <agm-snazzy-info-window
          [maxWidth]="300"
          [closeWhenOthersOpen]="true"
          [border]="false"
          [backgroundColor]="'#303030'"
        >
          <ng-template>
            <div class="info-text">
              <strong>Username: </strong>{{userPosition.username}}<br>
              <div *ngIf="teamVisible"><strong>Team: </strong>{{getTeam(userPosition.team)}}<br></div>
            </div>
            <!--<a (click)="showInfo(match)">-->
            <!--</a>-->
          </ng-template>
        </agm-snazzy-info-window>
      </div>
    </agm-marker>
    <div *ngIf="positionAvailable">
      <agm-marker
        [latitude]="positionOfUser.latitude"
        [longitude]="positionOfUser.longitude"
        [title]="'User Position'"
      >
      </agm-marker>
    </div>

    <agm-circle
      [latitude]="match.centralPoint.latitude"
      [longitude]="match.centralPoint.longitude"
      [circleDraggable]="false"
      [editable]="false"
      [fillColor]="'#red'"
      [radius]="match.radius"
    >
    </agm-circle>
  </agm-map>
</div>

